@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.Container2 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 100px;

}
.container3 {
  display: flex;
  margin-top: -100px;
  margin-left: 65px;
}
.icono {
  width: 30px;
  margin-right: 18px;
}
.your {
  font-size: 35px;
  font-weight: 600;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.image {
  max-width: 100%;
  height: auto;
  width: 800px;
  height: 700px;
}
.input {
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox label {
  margin-right: 10px;
}

.checkboxContainer {
  display: flex;
  justify-content: space-around;
  margin-left: -1px
}
.rememberText {
  color: #FF8682;
  margin-left: 200px;
}

.button1 {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}
.signupText {
  color: #FF8682;
  margin-left: 10px;
}
.dont {
  margin-left: 120px;
}
.or {
  color: #cccccc;
  margin-left: 188px;
  position: relative; 
  margin-top: 30px;
}

.or::before,
.or::after {
  content: ''; 
  position: absolute; 
  top: 50%; 
  width: 165px;
  height: 1px; 
  background-color: #c9c9c9; 
}

.or::before {
  left: -187px;
}

.or::after {
  right: 1px; 
}
.vens {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}